@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
}

html, body, #content {
  height: 100%;
}

.svg{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(104%) contrast(96%);
}

#content{
    display:grid;
    grid-template-columns: minmax(220px, 14%) 5fr;
    grid-template-rows: 100px 1fr;
}
    











/* HEADER */

.header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;

    display: flex;
    align-items: center;
    background-color: #07689F;
    height: 100px;
}
.headerTitle{
    display: inline-block;
    font-family: 'Prompt', sans-serif;
    color:#FAFAFA;
    font-size: 40px;
    padding: 20px;
    margin-right: 60px;
}
.headerIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80px;
    margin-left: 40px;
}




/* LEFTBAR */
.leftBar{
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: #A2D5F2;
    float:left;
    height: calc(100vh - 120px);
    min-height: 300px;
    box-shadow: 4px 0px 4px rgb(230, 228, 228);
    padding-top:8%;
}

.categoryBarBtn{
    padding-left: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
    display: flex;
    align-items: center;
    margin-right:24px;
    margin-left:24px;
    border-radius: 5px;
    cursor: pointer;
}
.categoryBarBtn:hover{
    background-color: #67bcee;
    color: white;
}
.sidebarTitle{
    display: inline-block;
    font-family: 'Prompt', sans-serif;
    color:#03466d;
    font-weight: 400;
    font-size: 16px;
    height: 100%;
    padding-left: 8px;
}
.categoryIcon{
    padding-right: 8px;
    height: 1.5em;
    filter: invert(10%) sepia(94%) saturate(1373%) hue-rotate(178deg) brightness(95%) contrast(98%);
}

.leftBarProjectTitle{
    font-family: 'Prompt', sans-serif;
    color:#03466d;
    font-weight: 500;
    font-size: 24px;
    padding-left: 8px; 
    margin-left:24px;
    margin-top: 60px;
    margin-bottom: 10px;

}


    /* Projects */
    .projectBtn{
        padding-left: 12px;
        padding-bottom: 6px;
        padding-top: 6px;
        display: flex;
        align-items: center;
        margin-right:24px;
        margin-left:24px;
        border-radius: 5px;
        cursor: pointer;
    }    
    .projectBtn.active{
        font-weight: 600;
        background-color: #88cbf1;
    }
    .projectBtn:hover{
        background-color: #67bcee;
        color: white;
    }
    .projectTitle{
        display: inline-block;
        font-family: 'Prompt', sans-serif;
        color:#03466d;
        font-weight: 400;
        font-size: 16px;
        height: 100%;
        padding-left: 8px;
    }
    .projectIcon{
        padding-right: 8px;
        height: 1.5em;
        filter: invert(10%) sepia(94%) saturate(1373%) hue-rotate(178deg) brightness(95%) contrast(98%);
    }
    .closeIcon{
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: invert(20%) sepia(94%) saturate(1373%) hue-rotate(178deg) brightness(95%) contrast(98%);
        margin-left: auto;
        padding-right: 8px;
    }
    .closeIcon:hover{
        filter: invert(50%) sepia(94%) saturate(1373%) hue-rotate(178deg) brightness(95%) contrast(98%);
    }

    /* Add project */
    .addProjectBtn{
        padding-left: 12px;
        padding-bottom: 6px;
        padding-top: 6px;
        display: flex;
        align-items: center;
        margin-right:24px;
        margin-left:24px;
        margin-top: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .addProjectBtn:hover{
        background-color: #67bcee;
        color: white;
    }
    .addProjectTitle{
        display: inline-block;
        font-family: 'Prompt', sans-serif;
        color:#03466d;
        font-weight: 400;
        font-size: 16px;
        height: 100%;
        padding-left: 8px;
    }
    .addProjectIcon{
        padding-right: 8px;
        height: 1.5em;
        filter: invert(10%) sepia(94%) saturate(1373%) hue-rotate(178deg) brightness(95%) contrast(98%);
    }

    /* Adding project Div */
    .addingProjectDiv{
        padding-left: 12px;
        padding-bottom: 6px;
        padding-top: 6px;
        margin-right:24px;
        margin-left:12px;
        border-radius: 5px;
        cursor: pointer;
    }
    .addProjectTitleField{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 12px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid #07689F;
        outline: none;

        width: 93%;

        font-family: 'Prompt', sans-serif;
        color:#03466d;
        font-weight: 200;
        font-size: 14px;
    }
    .newProjectButtons{
        display:flex;
    }
        .confirmProjectBtn{
            background-color: #bbeeb6;
            border: 1px solid #35ad1d70;
        }
        .cancelProjectBtn{
            margin-left:12px;
            background-color: #ecc3c3;
            border: 1px solid #ee909086;
        }
        .confirmProjectBtn:hover{
            background-color: #8ad684;
            border: 1px solid #35ad1d70;
        }
        .cancelProjectBtn:hover{
            margin-left:12px;
            background-color: #dfaeae;
            border: 1px solid #ee909086;
        }
        .addingProjectBtn{
            margin-top: 5px;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;

            font-size: 14px;
            font-family: 'Prompt', sans-serif;
            font-weight: 400;
            color: #07689F;
            border-radius: 5px;
            cursor: pointer;
        }



















/* -- TODOLIST -- */
.toDoListContent{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 5;

    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: #ecf0f7;
    height: calc(100vh - 120px);
    padding-top: 20px;
    padding-left:40px;
    padding-right:50px;
}
.projectDisplay{
    max-width: 1000px;
    width: 100%;
}

.projectTitleMain{
    font-family: 'Prompt', sans-serif;
    color:#07689F;
    justify-content: left;
    font-weight: 500;
    font-size: 30px;
    padding-left: 8px;
    margin-bottom: 12px;
}


.allTasksMain{
    display: block;
}
    /* Tasks */
    .taskMain{
        display: inline-flex;
        float: left;    

        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #deebf3;
        width: 100%;
        border-radius: 5px;
        margin-bottom:6px;
    }
    .taskMain:hover{
        background-color: #b3d9f0;
    }
    .taskNameTitle{
        display: inline-block;
        font-family: 'Prompt', sans-serif;
        justify-content: left;
        font-weight: 200;
        font-size: 14px;
        margin-right: 10px;
        margin-left: 20px;

    }
    .taskPriority{
        display: inline-block;
        font-family: 'Prompt', sans-serif;
        justify-content: left;
        font-weight: 200;
        font-size: 14px;
        margin-right: 10px;
    }
        .highPriority{
            background-color: #f3dede;
            border: 1px solid #ee909086;
            color: #ee9090;
            padding-left: 10px;
            padding-right: 10px;
        }
        .mediumPriority{
            background-color: #f3ebde;
            border: 1px solid #f5a8024f;
            color: #f5a802;
            padding-left: 10px;
            padding-right: 10px;
        }        
        .lowPriority{
            background-color: #e0f3de;
            border: 1px solid #35ad1d70;
            color: #35ad1d;
            padding-left: 10px;
            padding-right: 10px;
        }
    .rightSideTask{
        display: inline-block;
        margin-left: auto;
    }


    /* Add Tasks Btn*/
    .addTasksMain{
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #88cbf1;
        width: 100%;
        border-radius: 5px;
        margin-bottom:6px;

    }
    .addTasksMain:hover{
        background-color: #b3d9f0;
    }
    .addTasksIconMain{
        filter: invert(10%) sepia(94%) saturate(1373%) hue-rotate(178deg) brightness(95%) contrast(98%);
        width: 25px;
        padding-right: 10px;
    }
    .addTasksTitleMain{
        font-family: 'Prompt', sans-serif;
        justify-content: left;
        font-weight: 200;
        font-size: 14px;
    }



    /* Create New Task */
    .textField{
        padding-left: 12px;
        margin-right: 4px;
    }
    .createNewTask{
        display: block;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #88cbf1;
        width: 100%;
        border-radius: 5px;
        margin-bottom:6px;
    }
    .addTaskTitle{
        font-family: 'Prompt', sans-serif;
        color:#03466d;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 4px;
        margin-left: 4px;
        display: inline-block;
    }

        .lineOneDiv{
            display:flex;
        }
            .addInputTaskField{
                margin-top: 5px;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 10px;
                padding-right: 10px;
                width: 100%;
            }
            .selectDateProjectField{
                width: 30%;
                min-width: 100px;
                margin-left: 2px;
                display:flex;
                justify-content: center;            
            }

        .lineTwoDiv{
            display:flex;
        }
            .lineTwoChild{
                margin-top: 5px;
                width: 100%;
            }
            .taskInputField{
                width: 94%;
            }
            .addInputTaskField{
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid #07689F;
                background-color: #deebf3;
                outline: none;
        
                font-family: 'Prompt', sans-serif;
                color:#03466d;
                font-weight: 200;
                font-size: 12px;
            }
            .selectPriorityField{
                display: flex;
                align-items: center;
                justify-content: space-around;
                font-size: 14px;
                font-family: 'Prompt', sans-serif;
                font-weight: 400;
                color: #07689F;
                border-radius: 5px;
                cursor: pointer;
                width: 99%;

            }
                .selectTaskPriority{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    border-radius: 5px;
                    margin-left: 4px;
                    cursor: pointer;
                    width: 100%;

                }
                    .highPriorityTask{
                        background-color: #f3dede;
                        border: 1px solid #ee909086;
                        color: #ee9090;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .highPriorityTask:hover{
                        background-color: #ee9090;
                        color: #f3dede;
                    }
                    .mediumPriorityTask{
                        background-color: #f3ebde;
                        border: 1px solid #f5a8024f;
                        color: #f5a802;
                        padding-left: 10px;
                        padding-right: 10px;
                    }  
                    .mediumPriorityTask:hover{
                        background-color: #f1bf52d7;
                        color: #f3ebde;
                    }      
                    .lowPriorityTask{
                        background-color: #e0f3de;
                        border: 1px solid #35ad1d70;
                        color: #35ad1d;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .lowPriorityTask:hover{
                        background-color: #44db2677;
                        color: #e0f3de;
                    }
            .newTaskButtons{
                display:flex;
            }
                .addingTaskBtn{
                    margin-top: 5px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 10px;
                    padding-right: 10px;
                    width: 100%;
        
                    font-size: 14px;
                    font-family: 'Prompt', sans-serif;
                    font-weight: 400;
                    color: #07689F;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .confirmTaskBtn{
                    background-color: #bbeeb6;
                    border: 1px solid #35ad1d70;
                    margin-left:12px;
                }
                .cancelTaskBtn{
                    background-color: #ecc3c3;
                    border: 1px solid #ee909086;
                }
                .confirmTaskBtn:hover{
                    background-color: #8ad684;
                    border: 1px solid #35ad1d70;
                }
                .cancelTaskBtn:hover{
                    background-color: #dfaeae;
                    border: 1px solid #ee909086;
                }
                    









/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2px;
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color:#FAFAFA;
    background-color: #FF7E67;
}