@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap');

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

.svg{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(104%) contrast(96%);
}
    


/* HEADER */

.header{
    display: flex;
    align-items: center;
    box-shadow: 10px 5px 5px red;
    background-color: #07689F;
}
.headerTitle{
    display: inline-block;
    font-family: 'Prompt', sans-serif;
    color:#FAFAFA;
    font-size: 40px;
    padding: 20px;
    margin-right: 60px;
}
.headerIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80px;
    margin-left: 40px;
}




/* -- TODOLIST -- */
.toDoListContent{
    height: 100%;
    background-color: black;
}

/* LEFTBAR */
.leftBar{
    background-color: #A2D5F2;
    float:left;
    width:20%;
    max-width: 250px;
}
.sidebarTitle{
    display: inline-block;
    font-family: 'Prompt', sans-serif;
    color:#eaf2ef;
    font-weight: 300;
    font-size: 16px;
}


/* PROJECT */
.projectDisplay{
    background-color: #FAFAFA;
}
.addProjectIcon{
    filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(104%) contrast(96%)
}



/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2px;
    font-family: 'Prompt', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color:#FAFAFA;
    background-color: #FF7E67;
}